.wrapReciveVideo{
    height: 100%;
}
.messageSendVideo{
    text-align: center;
    color: white;
}
.title{
    color: white;
    text-align: center;
}
.wrapElements{
    margin-top: 90px;
}

.wrapSendVideo {
  margin-top: 40px;
   background-color: #141414;
}

.wrapSendVideo {
  transition: margin-left 0.3s ease;
  margin-left: 0;
  padding: 1rem;
}

.menu-open {
  margin-left: 200px; 
}

@media (max-width: 768px) {
  .menu-open {
    margin-left: 0;
  }
}