.wrapElementsMetaDatas {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 20px;
}

.wrapSendThumbNail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.wrapTitleReceiveThumbnail {
    width: 50%;
}

.wrapReceiveThumbnail {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px;
    gap: 10px;
    width: 50%;
}

.wrapReceiveTitleVideo {
    margin-top: 40px;
}

.wrapReceiveTitleVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.wrapTitleReciveTitle {
    width: 50%;
}

#inputTitle {
    background: #222;
    color: #fff;
    border: 2px solid #bbb;
    border-radius: 10px;
    padding: 12px 12px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s;
    width: 50%;
    box-sizing: border-box;
}

.wrapButtonText {
    color: #74ddc8;
}

.wrapInputTitle {
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.detailsImage {
    color: white;
    margin-top: 20px;
}

.wrapAllMetaData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.buttonSendMetaDatas {
    background-color: #272727;
    color: white;
    padding: 12px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.buttonSendMetaDatas:hover {
    background-color: #419181;
    transition: ease-in 0.3s;
}

.statusPhoto {
    color: #419181;
}

.countCaractersTitle {
    text-align: end;
    margin-top: 5px;
}

.wrapButtonSendMetaDatas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


@media (max-width: 600px) {
    .wrapSendThumbNail {
        flex-direction: column;
        margin-top: 10px;
    }

    .wrapReceiveThumbnail {
        width: 100%;
        height: 25vh;
    }

    .wrapReceiveTitleVideo {
        flex-direction: column;
        margin-top: 20px;
    }

    .wrapInputTitle {
        width: 100%;
    }

    #inputTitle {
        width: 100%;
    }

    .title {
        margin-bottom: 25px;
        margin-top: 20px;
        font-size: 1.3em;
    }

    .wrapTitleReceiveThumbnail>h3 {
        font-size: 1.1em;
        
    }
    .wrapTitleReceiveThumbnail{
        width: 100%;
    }

    .wrapTitleReciveTitle>h3 {
        font-size: 1.1em;
    }

    .wrapTitleReciveTitle {
        width: 100%;
    }

}