.title{
    color: white;
    text-align: center;
      margin-top: 10px;
     font-size: 1.6em;
}

.wrapSendMetaDatas {
  margin-top: 40px;
  text-align: center;
  background-color: #141414;
}

.wrapSendMetaDatas {
  transition: margin-left 0.3s ease;
  margin-left: 0;
  padding: 5px;
}

.menu-open {
  margin-left: 200px; 
}

@media (max-width: 768px) {
  .menu-open {
    margin-left: 0;
  }

  .title{
    color: white;
    text-align: center;
      margin-top: 50px;
     font-size: 1.5em;
     margin-bottom: 0px;
}
}

@media (max-width: 350px) {
  .wrapElementsMetaDatas {
      margin-left: 0;
      padding: 0 5px;
  }

  .wrapReceiveThumbnail {
      width: 100%;
      max-width: none;
  }

  .wrapInputTitle,
  .wrapTitleReceiveThumbnail,
  .wrapTitleReciveTitle {
      width: 100%;
  }

  #inputTitle {
      width: 100%;
  }
}
