@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-optical-sizing: auto;
  background-color: #141414; 
  transition: background-color 0.3s ease;
}


#root {
    background-color: inherit; /* herda do html */
    transition: background-color 0.3s ease;
    background-color: #141414;
}

.main-content {
  margin-left: 250px;
  padding: 1rem;

}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}

